/*animaciones*/
@-webkit-keyframes animaSocial
{
	from
	{
		top: 20%;
	}
	to
	{
		top: 12%;
	}
}

/*@-webkit-keyframes animaMenuSocial
{
	from
	{
		margin-left: -60px;
	}
	to
	{
		margin-left: 0px;
	}
}*/

body
{
	background-color: gray;
	font-family: 'Gochi Hand', cursive;
}

footer
{
	font-size: 0.7em;
	text-align: center;
	width: 100%;
	height: 80px;
	left: 0;
	background-color: rgba(180, 180, 180, 0.6);
	bottom: 0;
	/*position: fixed;*/
	margin-top: 30px;
	clear: both;
}

nav
{
	text-align: center;
	margin-top: 25px;
}

p
{
	text-align: center;
	font-family: 'Shadows Into Light', cursive;
	font-size: 3.5em;
	text-shadow: 0px 0px 10px rgba(250, 250, 250, 0.7);
}

section
{
	width: 90%;
	margin: auto;
}

#foto
{
	/*background: url(../img/juancsalazar.jpg);*/
	/*background-size: 100% 100%;*/
	width: 14%;
	/*height: 250px;*/
	margin: auto;
	border-radius: 10px;
}

#perfil, #inf_personal, #academico, #dello_personal, #contacto
{
	width: 200px;
	height: 40px;
	font-size: 1.6em;
	background-color: rgba(150, 150, 150, 0.6);
	border-radius: 10px;
	display: inline-block;
	margin-right: 10px;
	padding: 5px;
	border: 2px solid rgba(150, 150, 150, 0.8);
	margin-top: 10px;
	box-shadow: 0px 0px 6px white inset;
	text-shadow: 0px 0px 10px black;
	font-family: 'Shadows Into Light', cursive;
}
/*
#sel-menu
{
	background: url(../img/mundo.png);
	background-size: 100% 100;
	width: 50px;
	height: 50px;
	top: 20%;
	left: 0;
	position: fixed;

	/*animacion
	animation-name:animaSocial;
	animation-duration: 1s;
	animation-iteration-count:infinite;
	animation-direction:alternate;
	animation-timing-function: ease-out;

	-webkit-animation-name:animaSocial;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:alternate;
	-webkit-animation-timing-function: ease-out;
}
*/

#sel-menu
{
	/*background-color: red;*/
	background: url(../img/barra-menu.png);
	background-size: 100% 100%;
	width: 18px;
	height: 80px;
	top: 41%;
	left: 5px;
	position: fixed;
	border-radius: 0px 15px 15px 0px;

	font-size: 2em;
	padding: 2px;
}

#social
{
	width: 55px;
	height: 210px;
	background-color: black;
	/*border: solid;*/
	border-radius: 0px 15px 15px 0px;
	padding: 5px;
	top: 30%;
	left: -60px;
	z-index: 1000;
	position: fixed;
	margin: 0;
	/*display: block;*/
	/*margin-left: -60px;*/

	/*-webkit-animation-name:animaMenuSocial;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:alternate;
	-webkit-animation-timing-function: ease-out;*/

}

#twitter, #facebook, #blog, #mail
{
	width: 50px;
	background-color: green;
}

#twitter
{
	background: url(../img/twitter.png);
	height: 40px;
	background-size: 100% 100%;
	border-radius: 25px;
	/*background-color: red;*/
	/*border: solid;*/
}