body
{
	background-color: gray;
	font-family: 'Gochi Hand', cursive;
}

footer
{
	font-size: 0.7em;
	text-align: center;
	width: 100%;
	height: 15%;
	left: 0;
	background-color: rgba(180, 180, 180, 0.6);
	bottom: 0;
	position: fixed;
}

nav
{
	text-align: center;
	margin-top: 25px;
}

p
{
	text-align: center;
	font-family: 'Shadows Into Light', cursive;
	font-size: 3em;
	text-shadow: 0px 0px 10px white;
}

#foto
{
	background: url(../img/juancsalazar.jpg);
	background-size: 100% 100%;
	width: 14%;
	height: 250px;
	margin: auto;
}

#perfil, #inf_personal, #academico, #dello_personal, #contacto
{
	width: 200px;
	height: 40px;
	font-size: 1.6em;
	background-color: rgba(150, 150, 150, 0.6);
	border-radius: 10px;
	display: inline-block;
	margin-right: 10px;
	padding: 5px;
	border: 2px solid rgba(150, 150, 150, 0.8);
	margin-top: 5px;
	box-shadow: 0px 0px 3px white;
	text-shadow: 0px 0px 10px white;
	font-family: 'Shadows Into Light', cursive;
}